<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="<%= user.image %>">
            <div class="card-body">
                <h5 class="card-title"><%= user.fullname%></h5>
            </div>
        </div>
        </div>
        <div class="col-sm-4">
            <h1>Profile</h1>
            <p class="card-text"><i class="fa fa-user"></i> <%= user.fullname%></p>
            <% if(user.email) { %>
                <p class="card-text"><i class="fa fa-envelope"> </i><%= user.email%></p>
        
            <% } else { %>
           <form action="/addEmail" method="POST">
         <input type="text" name="email" class="form-control" placeholder="Enter Email Address">
         <button type="submit" class="btn btn-danger">Save</button>
        </form>
        <% } %>
        <% if(user.phone) { %>
            <p class="card-text"><i class="fa fa-phone"></i> <%= user.phone %></p>

        <% } else {%>
            <form action="/addPhone" method="POST" class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                
                  <input type="number" class="form-control" name="phone" placeholder="Enter phone number" required>
                </div>
                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-check"></i></button>
              </form> 
        <% }  %>
           <% if(user.location){ %>
              <p class="card-text"><i class="fa fa-map-marker"></i> <%= user.location %></p>
           <% }else { %>
            <form action="/addLocation" method="POST" class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                
                  <input type="text" class="form-control" name="location" placeholder="Enter your location/City and Country" required>
                </div>
                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-check"></i></button>
              </form> 

            <% } %>
        </div>
    </div>
    <div class="container">
        <h1>My Posts</h1>
            <% if(posts) { %>
            <% posts.forEach(function(posts) { %>
            <div class="media">
                <img src="<%= posts.user.image%>" class="mr-3 post-user">
        
                <div class="media-body">
                  <h3 class="mt-0"><%=posts.user.fullname%></h3>
                 
                <h4><%=posts.title %><small class="text-info"> <%=posts.status%></small></h4>
                <p><%=posts.body %></p>
                <small><%=posts.date%></small>
                </div>
              </div>
              <hr>
              <% }); %>
              <% }else{%>
                   <p>You do not have any posts</p>
                <% } %>
        </div>
</div>


